<footer class="footer">
  <div class="footer__item collapsible collapsible--expanded">
    <h3>Product</h3>
    <ul class="items">
      <li class="item">Website Hosting</li>
      <li class="item">Free Automated Wordpress</li>
      <li class="item">Migrations</li>
    </ul>
  </div>
  <div class="footer__item collapsible">
    <h3>Company</h3>
    <ul class="items">
      <li class="item">About</li>
      <li class="item">Affiliates</li>
      <li class="item">Blog</li>
    </ul>
  </div>
  <div class="footer__item collapsible">
    <h3>Support</h3>
    <ul class="items">
      <li class="item">Contact</li>
      <li class="item">Knowledge Base</li>
      <li class="item">FAQ</li>
    </ul>
  </div>
  <div class="footer__item collapsible">
    <h3>Domains</h3>
    <ul class="items">
      <li class="item">Domain Checker</li>
      <li class="item">Domain Transfer</li>
      <li class="item">Free Domain</li>
    </ul>
  </div>
  <div class="footer__image">
    <img src="./images/logo.svg" alt="" />
    <p>Copyright 2020</p>
  </div>
</footer>
