<nav class="nav collapsible">
  <div class="logo">
    <img src="./images/logo.svg" alt="" />
    <svg class="icon icon-white">
      <use href="./images/sprite.svg#menu"></use>
    </svg>
  </div>
  <ul class="nav-list">
    <li class="nav-item">Hosting</li>
    <li class="nav-item">VPS</li>
    <li class="nav-item">Domain</li>
    <li class="nav-item">Pricing</li>
  </ul>
  <ul class="nav-list-flex">
    <li class="nav-item">Hosting</li>
    <li class="nav-item">VPS</li>
    <li class="nav-item">Domain</li>
    <li class="nav-item">Pricing</li>
  </ul>
</nav>
