<div class="price-card">
  <div class="price-card__header popular-badge color--blue">
    <h3>Entry</h3>
    <span class="price">$14</span>
    <span class="month">/month</span>
    <span class="badge color--deep-blue">10% OFF</span>
    <h4>Easy start on the cloud</h4>
  </div>
  <div class="price-card__footer">
    <ul class="list">
      <li class="list-item">Unlimited Websites</li>
      <li class="list-item">Unlimited Bandwidth</li>
      <li class="list-item">100GB SSD Storage</li>
      <li class="list-item">3GB RAM</li>
    </ul>
    <button class="btn btn--outline btn--streched">Get Started</button>
  </div>
</div>
