<div class="testimonial">
  <div class="img">
    <img src="./images/testimonial.jpg" alt="" srcset="" />
    <span class="icon-container icon--orange relative">
      <svg class="icon icon-white">
        <use href="./images/sprite.svg#quotes"></use>
      </svg>
    </span>
  </div>
  <div class="quote">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus ipsa facere
      iusto reprehenderit quis impedit quae deserunt! Dolorum quia, ex libero
      similique nisi temporibus quaerat?
    </p>
    <div class="quote-info">
      <svg class="icon fill-sky">
        <use href="./images/sprite.svg#line"></use>
      </svg>
      <div class="name-designation">
        <h3>John Smith</h3>
        <p>ABC Company</p>
      </div>
    </div>
  </div>
</div>
